@model List<ViewModel.Transactions.SalesReturnList>
@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 20, ajaxUpdateContainerId: "gridcontent", selectionFieldName: "selectedRow");
    grid.Pager(WebGridPagerModes.All);

}


<div class="panel">

    <div class="panel-heading  bg-margenta">
        <div class="row">

            <div class="col-md-6">
                <i class="fa fa-list"></i>
                <span>Sales Return  </span>


            </div>

            <div class="col-md-6">

                <div align="right">
                    @Ajax.ActionLink("New", "Create", "SalesReturn", new { Id = 0, area = "Transactions" }, new AjaxOptions
                            {

                                UpdateTargetId = "content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default btn-xs btn-flat hgt" })

                    <select class="hgt"><option>Tools</option><option>Import</option><option>Export</option></select>
                    <input type="text" placeholder="Search Here" class="hgt" />
                    <button class="btn btn-default btn-xs btn-flat hgt fa fa-search"></button>
                    <button class="btn btn-default btn-xs btn-flat hgt fa fa-refresh"></button>
                </div>


            </div>


        </div>

    </div>


    <div class="panel-body">

        <div class="row">
            <div class="col-md-8" id="gridcontent" style="min-height:450px;border:solid silver 1px;">
                @grid.GetHtml(tableStyle: "gTable table table-responsive",

             columns: grid.Columns(
                                         grid.Column("S.No", format: item => item.WebGrid.Rows.IndexOf(item) + 1),
                                            grid.Column("VC_No", "VC No"),
                                                              grid.Column("Return_Date", "Date"),
                             grid.Column(columnName: "Amount", header: "Amount", format: @<i class="fa fa-rupee">&nbsp;&nbsp; @item.Amount</i>),
                                                              grid.Column("Remarks", "Remarks"),
                                 grid.Column(header: "Action", format: (item) => new HtmlString(
                                       @Ajax.ActionLink("Edit", "Create", "SalesReturn", new { Id = item.Id, area = "Transactions" }, new AjaxOptions
                                                  {

                              UpdateTargetId = "content",
                              HttpMethod = "GET",
                              InsertionMode = InsertionMode.Replace,
                          }, new { @Class = "btn btn-default fa fa-pencil", }).ToString() +
                                                                                              @Ajax.ActionLink("Delete", "Create", "SalesReturn", new { Id = item.Id, area = "Transactions" }, new AjaxOptions
                                                                        {
                                                    UpdateTargetId = "content",
                                                    HttpMethod = "GET",
                                                    InsertionMode = InsertionMode.Replace,
                                                }, new { @Class = "btn btn-default fa fa-pencil", }).ToString()
                          ))
                                                ))


            </div>

            <div class="col-md-4" id="ViewPurRet">

                @*@{Html.RenderAction("ViewPurodr", "PurchaseReturn", new { @area = "Transactions", Id = -1 });}*@


            </div>

        </div>
    </div>
</div>

<script>

    $('table tbody tr').click(function () {

        var selectedId = $(this).find('td:eq(0)').text();


        $.ajax({
            url: '@Url.Action("ViewPurodr", "SalesReturn")',
            data: { 'Id': selectedId },
            type: "get",
            cache: false,
            success: function (savingStatus) {

                $('#ViewPurRet').html(savingStatus);

            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    });
</script>
<style>
    .gTable tr:hover {
        background-color: skyblue;
    }
</style>

