@model List<ViewModel.Common.GoDown_Info>
@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, selectionFieldName: "selectedRow", rowsPerPage: 20, ajaxUpdateContainerId: "gridcontent");
    grid.Pager(WebGridPagerModes.All);
}
<div class="panel">

    <div class="panel-heading  bg-margenta">
        <div class="row">

            <div class="col-md-9">
                <i class="fa fa-list"></i>
                <span>GoDown/Location</span>


            </div>

            <div class="col-md-3">
                @Ajax.ActionLink("New", "Create", "GoDown", new { area = "Masters", Id = 0 }, new AjaxOptions
                            {

                                UpdateTargetId = "content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default btn-xs btn-flat hgt", })


                <select class="hgt"><option>Tools</option><option>Import</option><option>Export</option></select>
                <input type="text" placeholder="Search Here" class="hgt" />
                <button class="btn btn-default btn-xs btn-flat hgt fa fa-search"></button>
                <button class="btn btn-default btn-xs btn-flat hgt fa fa-refresh"></button>
            </div>





        </div>

    </div>

   
        <div class="panel-body" id="gridcontent">

            @grid.GetHtml(tableStyle: "table table-striped table-bordered table-hover table-responsive topmrgn5px",
        columns: grid.Columns(
        grid.Column("S.No", format:item=>item.WebGrid.Rows.IndexOf(item)+1),
                          //grid.Column("Code", "Code"),
                            grid.Column("Name", "Name"),
                              grid.Column("Address", "Address"),
                               grid.Column("Under_Name", "Under"),
                                grid.Column("Remarks", "Remarks"),
            grid.Column(header: "Action", format: (item) => new HtmlString(
                          @Ajax.ActionLink(" ", "Create", "GoDown", new { area = "Masters", Id = item.Id }, new AjaxOptions
                                     {

                                         UpdateTargetId = "content",
                                         HttpMethod = "GET",
                                         InsertionMode = InsertionMode.Replace,
                                     }, new { @Class = "btn btn-default fa fa-pencil", @title = "Edit" }).ToString() +
                                              @Ajax.ActionLink(" ", "Delete", "GoDown", new { area = "Masters", Id = item.Id }, new AjaxOptions
                                     {

                                         UpdateTargetId = "content",
                                         HttpMethod = "GET",
                                         InsertionMode = InsertionMode.Replace,
                                     }, new { @Class = "btn btn-default fa fa-trash-o", @title = "Delete" }).ToString()

         ))

        ))
            @*<table class="table table-striped table-bordered table-hover table-responsive topmrgn5px">
                    <tr>
                        <td>
                            <label> Code</label>
                        </td>
                        <td>
                            <label>
                                Name
                            </label>
                        </td>

                        <td>
                            <label> Address</label>
                        </td>
                        <td>
                            <label> Under</label>
                        </td>
                        <td>
                            <label> Remarks</label>
                        </td>

                        <td colspan="2">Action</td>
                    </tr>
                    @if (Model.Count != 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.Name)

                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.Under_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.Remarks)
                                </td>

                                <td>

                                    @Ajax.ActionLink(" ", "Create", "GoDown", new { area = "Masters", Id = item.Id }, new AjaxOptions
                                    {

                                        UpdateTargetId = "content",
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                    }, new { @Class = "fa fa-pencil" })
                                </td>
                                <td>
                                    @Ajax.ActionLink(" ", "Create", "GoDown", new { area = "Masters", Id = item.Id }, new AjaxOptions
                                    {

                                        UpdateTargetId = "content",
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                    }, new { @Class = "fa fa-trash-o" })
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                No Records found..
                            </td>
                        </tr>
                    }


                </table>*@
        </div>
    </div>
